<!DOCTYPE html>
<html>
<head>
<<<<<<< HEAD
  <title>SampleApp</title>
=======
  <title>DemoApp</title>
>>>>>>> 0113811510053bb02dbf9943d69d6af72015a3ff
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
